# Python | Pandas DataFrame

### What is Pandas?

<b>pandas</b> is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.

### What is a Pandas DataFrame?

<b>Pandas DataFrame</b> is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). 

A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. 

Pandas DataFrame consists of three principal components, the data, rows, and columns.

<img src="images/pandas.jpg">

A Pandas DataFrame will be created by loading the datasets from existing storage. Storage can be SQL Database, CSV file, and Excel file. 
Pandas DataFrame can be created from the lists, dictionary, and from a list of dictionary etc.

Dataframe can be created in different ways here are some ways by which we create a dataframe:

### Creating a dataframe using List:

In [3]:
# import pandas as pd
import pandas as pd
 
# list of strings
lyst = ['CSC', '102', 'is', 'the', 'best', 'course', 'ever']
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lyst)

# Print the output.
df

        0
0     CSC
1     102
2      is
3     the
4    best
5  course
6    ever

### Creating a dataframe using dict of narray/lists:

In [5]:
import pandas as pd
 
# intialise data of lists.
data = {'Name':['Angel', 'Precious', 'Kishi', 'Love'],
        'Age':[20, 21, 19, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
df

       Name  Age
0     Angel   20
1  Precious   21
2     Kishi   19
3      Love   18

### Column Selection:

In [7]:
# Import pandas package
import pandas as pd
 
# Define a dictionary containing employee data
data = {'Name':['Clement', 'Prince', 'Karol', 'Adaobi'],
        'Age':[27, 24, 22, 32],
        'Address':['Abuja', 'Kano', 'Minna', 'Lagos'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select two columns
df[['Name', 'Qualification']]

      Name Qualification
0  Clement           Msc
1   Prince            MA
2    Karol           MCA
3   Adaobi           Phd

### Row Selection:
Pandas provide a unique method to retrieve rows from a Data frame.<br>
<i><font color="green">DataFrame.iloc[]</font></i> method is used to retrieve rows from Pandas DataFrame.<br>

In [11]:
import pandas as pd
 
# Define a dictionary containing employee data
data = {'Name':['Oyinda', 'Maryam', 'Dumebi', 'Bisola'],
        'Age':[27, 24, 22, 32],
        'Address':['Asaba', 'Maiduguri', 'Onitsha', 'Kwara'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select first row
df.iloc[0]

Name             Oyinda
Age                  27
Address           Asaba
Qualification       Msc
Name: 0, dtype: object

### Read from a file:

In [13]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("bcg.csv")

# print excel
data

    Employee Names  Years  Assesment Records  Points  Reward
0      Matthew Ade     25              125.3      21  438.55
1   Angela Adebisi     15               77.9      14  181.77
2  Calistus Ndukwe     10              144.2      18  432.60
3   Martha Martins      9               81.5      25  339.58
4    Victor Sayola     18               77.8      33  427.90
5      Adamu Bello     23               99.5      24  398.00

### Select first row from file

In [4]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("bcg.csv")

df=data.iloc[0]

# print excel
df

Employee Names       Matthew Ade
Years                         25
Assesment Records          125.3
Points                        21
Reward                    438.55
Name: 0, dtype: object

### Selecting Row with Title Header

In [17]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("bcg.csv")

df=data.head(1)

# print excel
df

  Employee Names  Years  Assesment Records  Points  Reward
0    Matthew Ade     25              125.3      21  438.55

### Looping over rows and columns
A loop is a general term for taking each item of something, one after another.<br> Pandas DataFrame consists of rows and columns so, in order to loop over dataframe, we have to iterate a dataframe like a dictionary.<br><br>
In order to iterate over rows, we can use two functions <i><font color="green">iteritems(), iterrows() </font></i>. These two functions will help in iteration over rows.

In [19]:
# importing pandas as pd
import pandas as pd
  
# dictionary of lists
dict = {'name':["Abdurrahman", "Chukwuemeka", "Somebi", "Michael, Dejo"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
 
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)

# iterating over rows using iterrows() function 
for i, j in df.iterrows():
    print(i, j)
    print()

0 name      Abdurrahman
degree            MBA
score              90
Name: 0, dtype: object

1 name      Chukwuemeka
degree            BCA
score              40
Name: 1, dtype: object

2 name      Somebi
degree    M.Tech
score         80
Name: 2, dtype: object

3 name      Michael, Dejo
degree              MBA
score                98
Name: 3, dtype: object

### Looping over Columns :
In order to loop over columns, we need to create a list of dataframe columns and then iterating through that list to pull out the dataframe columns.

In [23]:
# importing pandas as pd
import pandas as pd
   
# dictionary of lists
dict = {'name':["Bimpe", "Kamara", "Ugochi", "David"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
dfs = pd.DataFrame(dict)

# creating a list of dataframe columns
columns = list(dfs)
 
for i in columns:
 
    # printing the third element of the column
    print (dfs[i][2])

Ugochi
M.Tech
80

### Saving a DataFrame as CSV file

In [1]:
# importing pandas as pd
import pandas as pd
   
# dictionary of lists
blades = {'name':["Ebube", "Kamsi", "Oyinkan", "Chima"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(blades)

# saving the dataframe
df.to_csv('blade1.csv')

## Solution to Question II

In [2]:
# importing pandas as pd
import pandas as pd

data = pd.DataFrame({'Employee Names':['Alegbe Luis', 'Anna Mabuta', 'Karim Kafi', 'Esther Moses', 'Jonah Longe', 'Coins Fagbemi'],
                     "Years":[5,10,15,8,4,20], 
                     "Assesment Records": [44.5,67.4,23.8,71.1,50.3,63.3],
                    })
data

  Employee Names  Years  Assesment Records
0    Alegbe Luis      5               44.5
1    Anna Mabuta     10               67.4
2     Karim Kafi     15               23.8
3   Esther Moses      8               71.1
4    Jonah Longe      4               50.3
5  Coins Fagbemi     20               63.3

In [172]:
points=[]
rewards=[]
len = 6

access_rec = data['Assesment Records']
for i in range(len):
    if (access_rec[i] < 40.0 ):
        point = 1
    elif (access_rec[i] > 39.0 and access_rec[i] < 50.0 ):
        point = 2
    elif (access_rec[i] > 49.0 and access_rec[i] < 60.0):
        point = 3
    elif (access_rec[i] > 59.0 and access_rec[i] < 70.0):
        point = 4
    else:
        point = 5
    
    reward = (access_rec[i]*point/6)
    points.append(point)
    rewards.append("%.2f" % reward)    
    
data['Points']=(points)
data['Rewards']=(rewards)
data

  Employee Names  Years  Assesment Records Rewards  Points
0    Alegbe Luis      5               44.5   14.83       2
1    Anna Mabuta     10               67.4   44.93       4
2     Karim Kafi     15               23.8    3.97       1
3   Esther Moses      8               71.1   59.25       5
4    Jonah Longe      4               50.3   25.15       3
5  Coins Fagbemi     20               63.3   42.20       4

In [173]:
# Save to excel(csv)
data.to_csv('bcg_records.csv')

## Class Project I

####  Go to www.kaggle.com

Kaggle allows users to find and publish data sets, explore and build models in a web-based data-science environment, work with other data scientists and machine learning engineers, and enter competitions to solve data science challenges.

#### Download the following dataset:
1. Top Apps in Google Play
2. Cryptocurrency Predict Artificial Intelligence V3
3. Programming Laungages and File Format Detection

#### Clue
You can signin with either Google, facebook or Linkedin account

#### Task
Display the first 7 rows of each dataset<br>
Select the first 3 colums of each dataset<br>
Display only one row and header of each dataset

In [10]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("Top-Apps-in-Google-Play.csv")

df=data.head(7)

df

,Unnamed: 0,App Name,App Id,Category,Developer Id,Developer Website,Developer Email,Content Rating,Ad Supported,In App Purchases
0,1,Google Play services,com.google.android.gms,Tools,Google LLC,https://developers.google.com/android/google-p...,apps-help@google.com,Everyone,False,False
1,2,YouTube,com.google.android.youtube,Video Players & Editors,Google LLC,https://support.google.com/youtube/topic/24225...,ytandroid-support@google.com,Teen,True,False
2,3,Google,com.google.android.googlequicksearchbox,Tools,Google LLC,https://www.google.com/search/about/,apps-help@google.com,Everyone,True,False
3,4,Google Maps - Navigate & Explore,com.google.android.apps.maps,Travel & Local,Google LLC,http://maps.google.com/about/,apps-help@google.com,Everyone,True,False
4,5,Google Text-to-Speech,com.google.android.tts,Tools,Google LLC,http://www.google.com/,tts-feedback@google.com,Everyone,False,False
5,6,Google Chrome: Fast & Secure,com.android.chrome,Communication,Google LLC,http://www.google.com/chrome/android,apps-help@google.com,Everyone,False,False
6,7,Gmail,com.google.android.gm,Communication,Google LLC,http://support.google.com/mail/bin/topic.py?hl...,apps-help@google.com,Everyone,True,False

In [30]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("Top-Apps-in-Google-Play.csv")

data.iloc[:,[0,1,2]]

,Unnamed: 0,App Name,App Id
0,1,Google Play services,com.google.android.gms
1,2,YouTube,com.google.android.youtube
2,3,Google,com.google.android.googlequicksearchbox
3,4,Google Maps - Navigate & Explore,com.google.android.apps.maps
4,5,Google Text-to-Speech,com.google.android.tts
...,...,...,...
65,66,Clock,com.google.android.deskclock
66,67,Spotify: Listen to podcasts & find music you love,com.spotify.music
67,68,Google Translate,com.google.android.apps.translate
68,69,Samsung Notes,com.samsung.android.app.notes
69,70,Calculator,com.google.android.calculator

In [12]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("Top-Apps-in-Google-Play.csv")

df=data.head(1)

df

,Unnamed: 0,App Name,App Id,Category,Developer Id,Developer Website,Developer Email,Content Rating,Ad Supported,In App Purchases
0,1,Google Play services,com.google.android.gms,Tools,Google LLC,https://developers.google.com/android/google-p...,apps-help@google.com,Everyone,False,False

In [13]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("Top-Apps-in-Google-Play.csv")

df = df.iloc[0]

df

Unnamed: 0                                                           1
App Name                                          Google Play services
App Id                                          com.google.android.gms
Category                                                         Tools
Developer Id                                                Google LLC
Developer Website    https://developers.google.com/android/google-p...
Developer Email                                   apps-help@google.com
Content Rating                                                Everyone
Ad Supported                                                     False
In App Purchases                                                 False
Name: 0, dtype: object

## Class Project II

<b>Cadbury Nigeria Plc</b> manufactures and sells branded fast moving consumer goods to the Nigerian market and exports in West Africa. The Company produces intermediate products, such as cocoa butter, liquor, cake and powder. It exports cocoa butter, cake and liquor to international customers, and cocoa powder locally. It operates through three segments: Refreshment Beverages, Confectionery and Intermediate Cocoa Products. The Refreshment Beverages segment includes the manufacture and sale of Bournvita and Hot Chocolate. The Confectionery segment includes the manufacture and sale of Tom Tom and Buttermint. The Intermediate Cocoa Products segment includes the manufacture and sale of cocoa powder, cocoa butter, cocoa liquor and cocoa cake. The Refreshment Beverages' brands include CADBURY BOURNVITA and CADBURY 3-in-1 HOT CHOCOLATE. The Confectionery's brands include TOMTOM CLASSIC, TOMTOM STRAWBERRY and BUTTERMINT. The Intermediate Cocoa Products' brands include COCOA POWDER and COCOA BUTTER.

You have been employed as an expert python developer to create a program to document the consumption categories of their products and brands. Using your knowledge of Pandas DataFrames develop the program that saves the list of products (export, segments and brands) in a .csv excel file.<br><br>
Hint: save the filename as <font color="green"><i>cadbury_market.csv</i></font>.

In [1]:
import pandas as pd
Cadbury={
 'Exports':['Cocoa Butter','Cake','Liquor','Cocoa powder'],
 'Segments':['Refreshment Beverages','Confectionery','Intermediate Cocoa Products'],
 'Refreshment Beverages':['Bournvita','Hot Chocolate'],
 'Confectionery':['Tom Tom',' Buttermint'],
 'Intermediate Cocoa Products':['Cocoa powder','Cocoa Butter','Cocoa Cake','Cocoa Liquor'],
 'Refreshment Beverages Brands':['CADBURY BOURNVITA',' CADBURY 3-in-1 HOT CHOCOLATE'],
 'Confectionery Brands':['TOMTOM CLASSIC','TOMTOM STRAWBERRY','BUTTERMINT'],
 'Intermediate Cocoa Products Brands':['COCOA POWDER','COCOA BUTTER'] 
}
df = pd.DataFrame(Cadbury)
 

df.to_csv('cadbury_market.csv')

ValueError: arrays must all be same length